/* HEADER */

/* header {
    width: 100%;
    height: 10vh;
} */
/* 
.top-nav {
    right: 0;
    position: absolute;
    width:100%;
    min-height: 8vh;
    background: blue;
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange
}

li {
    margin: 0 1rem;
    background: green;
}

.nav-link {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    font-size: 1rem;
    background: orange;
}

.nav-link:hover,
.nav-link:focus {
    background: #f1f1f1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.burger {
    display: none;
    cursor: pointer;
    overflow: hidden;
}

/* END HEADER */

/* RESPONSIVE MENU */

/* @media screen and (max-width:768px) {

     /* MENU BURGER */
     /* header {
         top: 0;
            }

    .top-nav{ 
        position: absolute;
        right: 0;
        width:100%;
        min-height: 8vh;
        background: blue;
    }

    .nav-list {
        position: absolute;
        height: 50vh;
        right: 0;
        top: 8vh;
        background: #c9c9c5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 40%;
        font-size: 1rem;
        font-weight: 100;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
        z-index: 10;
    }

    .nav-list li {
        width: 100px;
        padding-left: 2rem;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .burger {
        display: block;
        height: 1.5vh;
        width: 7vw;
        position: relative;
        top: 2vh;
        left: calc(90% - 7vw);
    }

    .burger span {
        width: 100%;
        height: 2px;
        background: black;
        display: block;
        position: absolute;
        transform: translateY(5px);
    }

    .burger span::before,
    .burger span::after {
        content: '';
        width: 100%;
        height: 2px;
        left: 0;
        position: absolute;
        background: red;
        transition: transform .5s;
    }

    .burger span::before {
        transform: translateY(-5px)
    }

    .burger span::after {
        transform: translateY(5px);
    } */

    /* premier span */
    /* .burger.active span::before {
        transform: translateY(0px) rotateZ(45deg);
    } */

    /* le 2 nde */
    /* .burger.active span {
        background: transparent
    } */

    /* et le dernier */
    /* .burger.active span::after {
        transform: translateY(0px) rotateZ(-45deg);
    } */



/* }  */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #c3c3c3;
    overflow: hidden;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #111111;
    text-align: center;
    padding: 14px 130px;
    text-decoration: none;
    font-size: 17px;
  
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: white;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }